$title-color: #635C73;
$text-color: #323232;

$people-color: #FFFFFF;
$people-text: #A291A5;;

$line-color: #645766;

$title-font: 'Montserrat', sans-serif;
$text-font: 'Lato', sans-serif;

$text: 'center';
$text-color: #635C73;
// $title-font: "Montserrat, sans-serif";
$purple: #8D81AC;
$purple-card :#5F5161;
$white: #FFFFFF;
$breakpoint-medium: 481px;
$breakpoint-large: 993px;
$breakpoint-medium-large: 620px;
