$title-color: #635C73;
$text-color: #323232;

$people-color: #FFFFFF;
$people-text: #A291A5;;

$line-color: #645766;

$title-font: 'Montserrat', sans-serif;
$text-font: 'Lato', sans-serif;

$text: 'center';
