.revolutionary {
    margin-top: 66px;
    margin-bottom: 77px;
}
.editor {
    &__title {
        font-family: $title-font;
        font-weight: 700;
        font-size: 54px;
        line-height: 54px;
        color: $title-color;
        text-transform: uppercase;
        text-align: $text;
    }
    &__text {
        font-family: $text-font;
        font-weight: 400;
        font-size: 21px;
        line-height: 32px;
        color: $text-color;
        text-align: $text;
        padding: 13px 158px;
    }
    &__button {
        @include flex;
    }
    &__button-item {
        @include flex;
        border-radius: 5px;
        border: 1px solid #848e97;
        margin-right: 8px;
    }
    &__button-link {
        @include flex;
        padding: 8px;
        font-family: $title-font;
        font-weight: 700;
        background-color: #f4f4f4;
    }
    &__button-svg {
        padding-right: 8px;
    }
    &__button-text {
        font-family: $title-font;
        padding: 8px;
        font-weight: 700;
    }
}

@media (min-width: 481px) and (max-width: 992px) {
    .revolutionary {
        margin-top: 94px;
        margin-bottom: 98px;
    }
    .editor {
        &__title {
            font-size: 42px;
            line-height: 42px;
        }
        &__text {
            padding-inline: 40px;
        }
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    .revolutionary {
        margin-top: 80px;
        margin-bottom: 88px;
    }
    .editor {
        &__title {
            font-size: 26px;
            line-height: 28px;
        }
        &__text {
            font-size: 14px;
            line-height: 20px;
            padding-inline: 22px;
        }
        &__button {
            flex-wrap: wrap;
        }
        &__button-item {

            &--margin {
                margin-top: 20px;
            }
        }
    }
}